#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.user-list {
}

.user-list > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-btn {
  display: flex;
  height: 100%;
  cursor: pointer;
}

.empty-list {
  padding: 20px;
}
